.word-count {
    position: relative;
    height: 20px;
    width: 20px;
    background: #000;
}

.word-count::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    height: 100%;
    width: 100%;
}